<div class="container-fluid">
	<div class="row">
        <div class="col-md-6">
            <h1>フェス一覧</h1>
            <p> <!--ここに入力したフェスを表示 --></p>    
            
            <% @fes.each do |festival| %>
            フェス名:<%= festival.fes_name %> 
            <% end %>
        </div>
        <% if logged_in? %>
		<div class="col-md-6">
		    <%= link_to "フェスの登録", new_festival_path(current_user) %>
		    <%= link_to "フェスの編集", edit_festival_path(current_user) %>
		</div>
		<% end %>
    </div>
</div>